$textColor: rgba(0, 0, 0.87);
$textSecondaryColor: rgba(0, 0, 0, .60);
$fontSize: 14px;
$fontFamily: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
$lineHeight: 18px;
$transitionDuration: .2s;
$borderRadius: 4px;
$inputOptionPadding: .625em .875em;
$hoverBgColor: #e8e8e8;
$hoverTextColor: #000000;
$activeMenuItemBadgeColor: #ffffff;
$activeMenuItemBadgeTextColor: #212121;
$dividerColor: #bdbdbd;
$letterSpacing: .25px;
$overlayMaskBgColor: #424242;

$bodyBgColor: #F5F5F5;
$topbarSubmenuHoverBgColor: #f1f2f7;
$topbarMobileMenuBgColor: #ffffff;
$mobileBreakpoint: 1024px;
$menuScrollBarBgColor: #aaaaaa;
$topbarMenuBgColor: #ffffff;
$breadcrumbBgColor: #ffffff;
$footerBgColor: #ffffff;
